@import 'style.css';

nav.navbar{
  background-color: #000;
  float: none;
}

.jumbotron{
 	background-image: none;
  	background-color: #fff !important;
  	height: 0px;
  	padding: 0px !important;
  	margin-bottom: 15vh !important;

  h1{
		background-color: #000;
		width: 65%;
	}
}

.jumbotron>.container{
    margin-top: 5vh;
  }

#gallery{

	img{
		width: 30vw;
		height: 38vh;
		border-radius: 30px;
	}

	figcaption{
		margin-top: 10px;
		font-family: 'Fugaz One', Sans Serif !important;
		font-size: 1.2em;
		color: #fff;
		background-color: #64DD17;
		border-radius: 30px;
	}
}

.page-link{
	color: #64DD17 !important;
	font-size: 0.9em;
	font-family: 'Fugaz One', Sans Serif !important;
	border : 2px solid #64DD17 !important;
	border-radius: 50% !important;
	justify-content: center;

	&:hover{
		color:#fff !important;
		background-color: #64DD17 !important;
	}

	&:link{
		color:#fff;
		background-color: #64DD17;
	}
}

#restos{
	img{
		height: 100%;
	}
}

@media(max-width: 991px){
	main, footer{
		max-width: 850px !important;
	}
	#gallery img{
	  width: 50vw;
	  height: 35vh;
	}
}

@media (max-width: 767px){
	#gallery img{
	  width: 40vw;
	  height: 35vh;
	  display: block;
	  margin: auto;
	}

	#gallery figcaption{
	width: 40vw;
	display: block;
    margin: 2% auto;
	}
}