// Apprendre Sass
//https://gist.github.com/pixeline/dab8a29566b994453b8c681ed2b7ff2a

$fonttitle: Pacifico, Sans Serif !important;
$fontcontent: 'Fugaz One', Sans Serif !important;

h1{
	color: #fff !important;
	font:{
		family: $fonttitle;
	}
}


// NAVBAR

nav{
	background-color: rgba(0,0,0, 0.2);
	float: left;
	width: 100%;
	
	// le titre
	span{
		font:{
			family: $fonttitle;
			size: 35px !important;
		}
		color: #fff !important;
		padding: 0 30px 0 30px !important;
	}

	// les liens

	ul{
		margin: 0 5% 0 30%;
	}

	a{
		color: #fff !important;
		padding: 15px 25px!important;
		font:{
			family: $fontcontent;
			// weight: bold;
		}

		&:hover{
			background-color: rgba(0,0,0, 0.5);
			transition: 1s ease;
		}
	}
}

// JUMBONTRON

.jumbotron{
	height: 550px;
	background:{
		image: url(../img/plats2.jpg);
		repeat: no-repeat;
		size: 100% auto;
	}

	h1, p{
		text-align: center;
	}

	h1{
				background-color: rgba(0,0,0, 0.2);
		margin: 0 auto;
		width: 90%;
		
-webkit-clip-path: polygon(25% 0%, 75% 0%, 80% 50%, 75% 100%, 0% 100%);
clip-path: polygon(25% 0%, 75% 0%, 80% 50%, 75% 100%, 0% 100%);
	}

	.container{
		margin-top: 15%;
	}
}

