// Apprendre Sass
//https://gist.github.com/pixeline/dab8a29566b994453b8c681ed2b7ff2a

$fonttitle: Pacifico, Sans Serif !important;
$fontcontent: 'Fugaz One', Sans Serif !important;

$colorbanner: rgba(0,0,0, 0.5);
$colortocito : #64DD17 !important;


h1{
	color: #fff !important;
	font:{
		family: $fonttitle;
	}

	
}

.colortotico{
		color: $colortocito;
	}

h4{
	font-family: $fonttitle;
}

a{
	text-decoration: none !important;
}

p{
	font-family: $fontcontent;
}

button{
	font-family: $fontcontent;
	cursor: pointer;
}

// NAVBAR

nav.navbar{
	background-color: $colorbanner;
	float: left;
	width: 100%;
	
	// le titre
	h2{
		font:{
			family: $fonttitle;
			size: 35px !important;
		}
		color: #fff !important;
		padding: 0 30px 0 30px !important;
	}

	// les liens

	ul{
		// mettre en flex-end pour que la ul soit collée à droite !!
		justify-content :flex-end;
		width: 100%;
	}

	
	a{
		color: #fff !important;
		padding: 13px 20px!important;
		font:{
			family: $fontcontent;
		}

		&:hover{
			background-color: rgba(100,221,23,1);
			transition: 1s ease;
		}
	}

	.navbar-collapse{
		z-index: 3;
	}

	.navbar-toggler-icon{
		background-color: #fff !important;
	}

	#navbarSupportedContent{
		ul{
		text-align: center;
		}
	}
}

// JUMBONTRON

.jumbotron{
	height: 50%;
	background:{
		image: url(../img/plats2.jpg);
		repeat: no-repeat;
		size: cover;
	}

	h1, p{
		text-align: center;
	}

	h1{
		background-color: $colorbanner;
		margin: 0 auto;
		width: 80%;
		
		-webkit-clip-path: polygon(10% 0, 90% 0, 100% 50%, 100% 50%, 90% 100%, 10% 100%, 0 50%, 0 50%);
		clip-path: polygon(10% 0, 90% 0, 100% 50%, 100% 50%, 90% 100%, 10% 100%, 0 50%, 0 50%);	
	}

	.container{
		margin-top: 15%;
	}

	.lead{
		color: #fff;
		font-family: $fontcontent;
		background-color: $colorbanner;
		width: 30%;
		margin: 5% auto;
	}
}

// PANELS

#panels{
	margin-bottom: 5%;
}

.panel{
	font-family: $fontcontent;

	.panel-title{
		border-bottom: 1px solid $colortocito;
		color: $colortocito;
		padding: 10px;
	}

	li{
		list-style-type: none;
	}

	i{
		margin-right: 5px;
	}

	a{
		margin: 10px auto;
		text-align: center;
		display: block;
	}


}

#chevron{
	color: $colortocito;
	margin: 0 50%;
	transition: 2s ease;

	i{
		margin-bottom: 0.5em;
	}
}

//Page MENU
.list-group{
	font-family: $fontcontent;
}

.titles-menu{
	background-color: $colortocito;
	color: #fff;
}

.badge{
		font-size: 1em !important;
	}

//Page RESTAURANTS
h4{
	background-color: #000 !important;
	color : #fff !important;
	padding : 1rem;
}


// FOOTER

footer{
	// width: 100%;
	background-color: $colorbanner;
	color: #fff;
	text-align: center;
}


// MEDIAQUERIES

@media(max-width: 940px) {
	nav.navbar{
		h2{
			font-size : 25px !important;
		}
		a{
			padding-left: 0 !important;
			padding-right: 10px !important;
		}
	}
}


@media (max-width: 767px) {

    	h1{
    		font-size: 2rem !important;
    		width: 90% !important;
    		clear: both;
    		position: relative;
    	}

    	p{
    		font-size: 1rem !important;
    	}

    	nav{
			margin-bottom: 3%;
    	}
}