@import 'style.css';


.jumbotron{
	background-image: url("../img/tacos.jpg");

}

a.page-link{
  color: #64DD17;
  justify-content: center;
}

a.page-link:hover{
  color:#fff;
  background-color: #64DD17;
}

#gallery{
	margin-bottom: 40px;
}

#gallery img{
	width: 100%;
	height: 100%;
	border-radius: 30px;
}

#gallery figcaption{
	margin-top: 10px;
	font-family: 'Fugaz One', Sans Serif !important;
	color: #fff;
	background-color: #64DD17;
	border-radius: 30px;
}

@media (max-width: 767px){
	#gallery img{
	  width: 55%;
	  height: 85%;
	  border-radius: 30px;
	  display: block;
	  margin: auto;
	}

	#gallery figcaption{
	width: 55%;
	display: block;
    margin: 2% auto;
	}
}