@import 'style.css';


.jumbotron{
	background-image: url("../img/tacos.jpg");
}

a.page-link{
  color: #64DD17;
  justify-content: center;
}

a.page-link:hover{
  color:#fff;
  background-color: #64DD17;
}

img{
  width: 110%;
  height: 110%;
}